
html {
    font-size: 16px;
}
.site-header {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        " L M ";
}
.site-navigation {
    display: block;
    justify-self: end;

}
.menu {
    flex-direction: row;
}
.toggle-btn {
    display: none;
}
/* .card {

    width: 25%;   
   } */

   .image-content {
    flex-direction: row;
    padding: 4em 1em;
    max-width: 1200px;
    margin: auto;
    border-bottom: 1px solid rgb(48, 55, 63);
}
.image-content:nth-of-type(2) {
    background-color: rgb(255, 255, 255);
    border-bottom:none;
    order: 2;

}

.image-content .image {
    margin-right: 2em;
}
.image-content:nth-of-type(1) .image {
    margin-left: 2em;
    margin-right: 0;
    order: 2;

}

.image-content .content {
    padding: 0;
    border: 0;
}

.image-content h2 {

margin-left: 1.3em;
}

.employee-grid {    
    grid-template-columns: repeat(3, 1fr);
}

.partner-grid {
    
    grid-template-columns: repeat(3, 1fr);
}
